/* screen - destinations-1 */

.destinations-1 {
  background-color: var(--white);
  height: 1024px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.destinations-1 .rectangle-66-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 58px;
  mix-blend-mode: normal;
  position: absolute;
  top: 289px;
  width: 500px;
}

.destinations-1 .rectangle-66-qDOBl2 {
  background-color: #c4c4c4;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 500px;
}

.destinations-1 .rectangle-40-C61RwL {
  background-color: var(--brick-red);
  height: 99px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.destinations-1 .logo07-1-C61RwL {
  background-color: transparent;
  height: 99px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 152px;
}

.destinations-1 .destinations-where-would-you-like-to-go-C61RwL {
  background-color: transparent;
  height: auto;
  left: 57px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 183px;
  width: 553px;
}

.destinations-1 .span0-gfQSfI {
}

.destinations-1 .span1-gfQSfI {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}

.destinations-1 .span2-gfQSfI {
}

.destinations-1 .span3-gfQSfI {
}

.destinations-1 .search-country-or-city-C61RwL {
  background-color: transparent;
  color: #797373;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 98px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 296px;
  width: auto;
}

.destinations-1 .barcelona-1-C61RwL {
  background-color: transparent;
  height: 284px;
  left: 57px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 359px;
  width: 337px;
}

.destinations-1 .versailles-1-C61RwL {
  background-color: transparent;
  height: 284px;
  left: 57px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 643px;
  width: 337px;
}

.destinations-1 .new-york-1-C61RwL {
  background-color: transparent;
  height: 284px;
  left: 394px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 359px;
  width: 327px;
}

.destinations-1 .paris-1-C61RwL {
  background-color: transparent;
  height: 284px;
  left: 394px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 643px;
  width: 327px;
}

.destinations-1 .japan-2-C61RwL {
  background-color: transparent;
  height: 284px;
  left: 720px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 359px;
  width: 318px;
}

.destinations-1 .peru-2-C61RwL {
  background-color: transparent;
  height: 284px;
  left: 720px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 643px;
  width: 331px;
}

.destinations-1 .new-zealand-1-C61RwL {
  background-color: transparent;
  height: 284px;
  left: 1026px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 359px;
  width: 346px;
}

.destinations-1 .fiji-1-C61RwL {
  background-color: transparent;
  height: 284px;
  left: 1026px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 643px;
  width: 346px;
}

.destinations-1 .barcelona-C61RwL {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 375px;
  width: 154px;
}

.destinations-1 .new-york-C61RwL {
  background-color: transparent;
  height: auto;
  left: 421px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 375px;
  width: 149px;
}

.destinations-1 .new-zealand-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1049px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 375px;
  width: 150px;
}

.destinations-1 .paris-C61RwL {
  background-color: transparent;
  height: auto;
  left: 410px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 657px;
  width: 126px;
}

.destinations-1 .versailles-C61RwL {
  background-color: transparent;
  height: auto;
  left: 71px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 657px;
  width: 155px;
}

.destinations-1 .peru-C61RwL {
  background-color: transparent;
  color: #fff7f7;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 737px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 656px;
  width: 98px;
}

.destinations-1 .fiji-C61RwL {
  background-color: transparent;
  color: #fffdfd;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 1049px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 653px;
  width: 126px;
}

.destinations-1 .japan-C61RwL {
  background-color: transparent;
  height: auto;
  left: 743px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 374px;
  width: 92px;
}

.destinations-1 .rectangle-51-C61RwL {
  background-color: var(--white);
  height: 137px;
  left: 454px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 207px;
}

.destinations-1 .icon-search-C61RwL {
  background-color: transparent;
  height: 25px;
  left: 66px;
  mix-blend-mode: overlay;
  position: absolute;
  top: 296px;
  width: 27px;
}

.destinations-1 .home-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 160px;
  mix-blend-mode: normal;
  position: absolute;
  top: 26px;
  width: 113px;
}

.destinations-1 .home-FtQxcm {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 4px 4px #00000040;
  top: 0px;
  width: 113px;
}

.destinations-1 .destinations-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 42px;
  left: 454px;
  mix-blend-mode: normal;
  position: absolute;
  top: 29px;
  width: 214px;
}

.destinations-1 .destinations-3k5Kzh {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 4px 4px #00000040;
  top: 0px;
  width: 214px;
}

.destinations-1 .plan-trip-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 49px;
  left: 282px;
  mix-blend-mode: normal;
  position: absolute;
  top: 29px;
  width: 162px;
}

.destinations-1 .plan-trip-uWBWw2 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 4px 4px #00000040;
  top: 0px;
  width: 162px;
}

.destinations-1 .help-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 43px;
  left: 690px;
  mix-blend-mode: normal;
  position: absolute;
  top: 32px;
  width: 107px;
}

.destinations-1 .help-ZXw1xZ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 4px 4px #00000040;
  top: 0px;
  width: 107px;
}

.destinations-1 .login-sign-up-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 1184px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 4px 4px #00000040;
  top: 30px;
  width: 223px;
}
